.App {
  max-width: 500px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.elements {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  box-sizing: border-box;
}

.step {
  display: flex;
  flex-direction: column;
 align-items: flex-start;
}
.line
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
.nums {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #333;
  justify-content: center;
  align-items: center;
 left:10%;
}
button{
  background-color: #5cb85c;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding:20px;
}

